.loading {
    width:30px;
    height: 30px;
    display: inline-block;
    position:relative;
    top:calc(50% - 15px);
    left:calc(50% - 15px);
    background-color:honeydew;
    border-radius:100%;
    animation: loading 1s infinite ease-in-out both;
}

.loading:nth-last-child(2) {
    -webkit-animation-delay: 0.33s;
  animation-delay: 0.33s;
}

.loading:nth-last-child(1) {
-webkit-animation-delay: 0.66s;
  animation-delay: 0.66s;
}


@-webkit-keyframes loading {
    0%, 33%, 100% {-webkit-transform: scale(0); transform:  scale(0.4);}
    66% {-webkit-transform: scale(1); transform: scale(1); background-color:dodgerblue;}
}

@keyframes loading {
    0%, 33%, 100% {-webkit-transform: scale(0); transform:  scale(0.4);}
    66% {-webkit-transform: scale(1); transform: scale(1); background-color:dodgerblue;}
}

.container {
    width:100%;
    height:100%;
}

.loading-full {
    width:100%;
    min-height: 100px;
}