
/** For MCQ and TFQ **/
.responded-question {
    margin-bottom: 10px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    padding-left: 1rem;
}

.responded-option {
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 0em;
    margin-bottom: 10px !important;
}

.incorrect-selection {
    border: solid 2px #ff9c9c;
    background-color: #ffd5d5;
}

.correct-option {
    border: solid 2px #b0ffc9;
    background-color: #ddffe1;
}

.perfect {
    border: solid 2px green;
    background-color: #88e488;
}
