
body {
	padding-top:20px;
	padding-left: 5px;
}


.hidden-question {
	display:none;
	visibility: hidden;
	opacity: 0;
}

.question {
	transition: all 1s linear;
	opacity: 1;
	visibility: visible;
}


span p { /** all the p inside the span are inline **/
	display: inline-block; 
}

.statement {
	font-size:1.5em;
	font-weight: 300;
}


.field{

}

.list-question {
	list-style: square;
}

.question li {
	margin-bottom: 10px;
	margin-left: 10px;
	display: list-item;
}

.mcq-option {
	border: 2px solid #e5e5e5;
	border-radius: 5px;
	width: 95%; 
	padding: 1rem;
	padding-bottom: 0em;
	margin-bottom: 10px !important;
}

.mcq-option:hover{
	transition:0.3s;
	border-color: rgb(0,117,180);
	background-color:rgba(0,117,180,0.04);
}


.question-button {
	box-shadow: -2px 2px 1px 1px #b5b5b58c
	min-width: 40px;
	border:none;
	border-radius: 10px;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#question-buttons-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

#palette-buttons-grid-summary {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin-bottom: 0px;
}

.palette-button-instructions{
	align-items: center;
	padding:5px;
}

.general-instructions-inline{
	display: inline-block;
	margin: 5px;
}


.question-button-grid-item{
	padding: 5px;
}

.div-question-button {
	text-align: center;
	padding:0px;
}

.question-button-heading {
	padding:0px;
}

.question-button .answered {

}


#mark-for-review-button {
	margin-left:5px;
}

#div-submit{
	align-content: center;
}

.submit-button {
	width: 100%;
}

.submit-button > button {
	width: 95%;
    text-align: center;
}


#div-timer{
	display: block;
	text-align: center;
	font-weight: bold;
	padding:5px;
}

#timer {
	text-align: center;
	display: inline-block;
	min-width: 200px;
	min-height: 50px;
	border-radius: 25px;

}


@media all and (max-width: 768px){
	/**Targets col-sm elements **/
	#sidebar_right {
		display:none;
	}
}
@media all and (max-width: 400px) {
	body {
		font-size:0.9em;
	}
}

.disabled-palette-button{
box-shadow: 0px 0px 0px 0px;
    transition: all 0.2s;
    background-color: #ffc984 !important;
    color: white;
}

#palette-back-button{
	transition: all 0.5s;
	visibility: hidden;
}

#redirect-div {
	transition: 0.3s;
	display: block;
	left: 20%;
	top: 30%;
	width: 60%;
	height: 25%;
	position: absolute;
	text-align: center;
	vertical-align: center;
	padding: 5%;
	background-color: #716ed8e3;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	color: white;
}


.student_home_buttons {
	align:center;
}

.student_home_item {
	margin:15px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 20px;
}


.active-button{
	box-shadow: -5px 5px 5px 2px #7b7b7b;
	transition: all 0.5s;
}



.question_statement_in_paper {
	border-radius: 10px;
    margin-bottom: 5px;
    border: solid 1px #97b4d2;
    padding: 4px;
    width: 95%;
    transition: all 0.5s;
}

.question_statement_in_paper:hover{
	border: solid 1px #97b4FF;

}

.content-body {
	transition: 1s;
}

.danger {
	background-color:orange;
	tansition:1s;
}

.more-danger {
	background-color: red;
	transition: 1s;
}

.message {
	display:block;
	padding:10px 15px;
}

#response-view-container {
	width:100%;
	height:100%;
}
