body{
	padding:20px;
}

.hidden-question {
  display: none;
}



.statement {
	font-size:150%;
}

.field{

}

.list-question {
    list-style: square;
}

.question li {
	margin-bottom: 10px;
	margin-left: 10px;
    display: list-item;
}

.mcq-option {
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    width: 100%; 
    padding-left: 4rem;
    padding-bottom: 0em;
    margin-bottom: 10px !important;
}

.mcq-option:hover{
	transition:0.3s;
	border-color: rgb(0,117,180);
	background-color:rgba(0,117,180,0.04);
}


.question-button {
  box-shadow: -1px 1px 1px 1px #7b7b7b;
  border:none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#question-buttons-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#palette-buttons-grid-summary {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 0px;
}

.palette-button-instructions{
  align-items: center;
  padding:5px;
}

.general-instructions-inline{
    display: inline-block;
    margin: 5px;
    }


.question-button-grid-item{
    padding: 5px;
    font-weight: lighter;
}

.div-question-button {
	text-align: center;
	padding:0px;
}

.question-button-heading {
	padding:0px;
}

.question-button .answered {
	 
}

#save-and-next-button {
	float:right;
	margin-right:5px;
}

#mark-for-review-button {
	margin-left:5px;
}

#div-submit{
	align-content: center;
}

#submit-button {
	width: 100%;
}

#div-timer{
	display: block;
	text-align: right;
	font-weight: bold;
}


@media all and (max-width: 400px) {
	
  #save-and-next-button {
    float:none;
    margin:5px;
  }

  #mark-for-review-button {
    float:none;
    margin:5px;
  }
}

.disabled-palette-button{
  box-shadow: 0px 0px 0px 0px #7b7b7b;
  transition:  all 0.5s;
  background-color: black !important;
  color:black;
}

#palette-back-button{
  transition: all 0.5s;
  visibility: hidden;
}

#redirect-div {
	transition: 0.3s;
    display: block;
    left: 20%;
    top: 30%;
    width: 60%;
    height: 25%;
    position: absolute;
    text-align: center;
    vertical-align: center;
    padding: 5%;
    background-color: #716ed8e3;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    color: white;
}


.student_home_buttons {
	align:center;
}

.student_home_item {
  margin:15px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

#information_modal_button {
    float:right;
}
.active-button{
   box-shadow: -5px 5px 5px 2px #7b7b7b;
   transition: all 0.5s;
}

#quiz-top-bar{
    padding:10px;
    margin:20px;
}
.question_statement_in_paper {
    padding:10px;
    margin:5px;
    width:100%;
    transition: all 0.5s;
}

.question_statement_in_paper:hover{
    border: solid 1px #8c8c8c;

}

.content-body {
	transition: 1s;
}

.danger {
	background-color:orange;
  tansition:1s;
}

.more-danger {
	background-color: red;
  transition: 1s;
}

.message {
  display:block;
  padding:10px 15px;
}