{% load markdown_deux_tags %}
{% load static %}

{%block head %}
	{{ form.media }}
	<link rel="stylesheet" href="{% static 'pagedown/custom.css' %}">
				{% endblock head %}
		{% block content %}
<div>
	<h2>Add/Edit Question</h2>
	<h3>True False Question</h3>
 	<div class=''>
    <form id="form_id" action="edit_question" class="form-horizontal" method="POST" class="post-form">
    	 {% if not qid %}
    	<input type="hidden" id="question-type" name="question_type" value="TFQ">
    	{% else %}
    	<input type="hidden" id="qid-form" name="qid" value="{{qid}}">
		{% endif %}
    	<div class="table-responsive">
	   		<table  class='table table-bordered table-striped table-highlight'>
	   		<tbody id="form-table">
			<tr><h4>{{top_heading}}</h4></tr>
	   		{{ form }}
	   		</tbody>
	  		</table>
	  	</div>
		{% if correct_option == "true" %}
			<div class="field">
				<label class="tfq-option radio-inline" for="true-option"><input id='true-option' type="radio" name="correct_option" value="true" checked required>True</label>
			</div>
			<div class="field">
				<label class="tfq-option radio-inline" for="false-option"><input id='false-option' type="radio" name="correct_option" value="false">False</label> 
			</div>
			{% else %}
			<div class="field">
				<label class="tfq-option radio-inline" for="true-option"><input id='true-option' type="radio" name="correct_option" value="true" required>True</label>
			</div>
			<div class="field"> <label class="tfq-option radio-inline" for="false-option"><input id='false-option' type="radio" name="correct_option" value="false" checked>False</label>
			</div>
		
			{% endif %}

        <button type="submit" class="save btn btn-primary">Save</button>
    </form>
    </div>

 </div>

{% endblock content %}


{% block javascript %}


<script>
//Script for form submission using AJAX
$("#form_id").submit(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.
    var form = $(this);
    var url = form.attr('action');
    var data = form.serialize();
    replace_content(url, {'form-save-request' : true},  data);
});

$('textarea').addClass('expand');
$('.wmd-preview').addClass(show-preview);
DjangoPagedown.init();
</script>
{% endblock javascript %}