{% extends 'questions/question.html' %}
{% load markdown_deux_tags %}

{% block statement %}
	<h5>{{top_h3}}</h5>
	<hr/>
	{{ statement | safe}}
{% endblock statement %}

{% block options %}
{% if not correct_option_id %}
		{% for option_id, option_value in options %}
			<div class='field'>
					{% if checked_option_id == option_id %}
						<label class="mcq-option radio-inline"><input  id='{{qid}}-{{option_id}}' type='radio' name='{{qid}}' value='{{option_id}}' checked required>{{ option_value | markdown }}</label>
					{% else %}
					<label class="mcq-option radio-inline"><input  id='{{qid}}-{{option_id}}' type='radio' name='{{qid}}' value='{{option_id}}' required><span>{{ option_value | markdown }}</span></label>
					{% endif %}
			</div>
		{% endfor %}
{% else %}
		{% for option_id, option_value in options %}
			<div class='field'>
				    <label class=" radio-inline {% if checked_option_id == option_id %}
				    {% if option_id != correct_option_id %}incorrect-selection
							{% else %} perfect
					{% endif %}
				    {% else %}
				    		{% if option_id == correct_option_id %}correct-option{% endif %}
				   	{% endif %}">
					<input  id='{{qid}}-{{option_id}}' type='radio' name='{{qid}}' value='{{option_id}}' disabled  {% if checked_option_id == option_id %}checked{% endif %}>
						<span>{{ option_value | markdown }}</span>
					</label>
			</div>
		{% endfor %}
{% endif %}

{% endblock %}