{% extends 'student_base.html' %}
{% load markdown_deux_tags %}
{% load static %}

        {% block head_ext %}
            <link id="analytics_css" rel="stylesheet" type="text/css" href="{% static 'css/analytics.css' %}">
            <link id="responded-question-paper-css" rel="stylesheet" type="text/css" href="{% static 'css/responded-question-paper.css' %}">
            <link rel='stylesheet' href="{% static 'css/loading.css' %}" >
        {% endblock head_ext %}


{% block content %}
    {% if quizname %}
        <div class="heading quizname">
        <h1>{{quizname}}</h1>
        </div>
    {% endif %}
    
    <div class="top-bar" >
        <button onclick="location='/student'" id='back_button' type="button" class="btn btn-primary">Goto Home</button>
    </div>
    <div style=" text-align: center;">
    <h1 text-align="center">iQuiz Analytics</h1>
    </div>

    {% if message %}
        {% if success %} <div class="alert alert-info fade in">
        {% else %} <div class="alert alert-warning fade in"> {% endif %}
            <a href="#" class="close" >&times;</a>
            {{ message|safe }}
            </div>
    {% endif %}

    <br>
    <div class="text-center">
        <h4>Compare Attempts Summary</h4>
        <p>Number of Correct, Incorrect and Unanswered questions in the last two attempts.</p>
            <div id="doughnut-chart" class="doughnut-chart">
                <canvas width="50%" id="doughnut-chart-canvas"></canvas>
            </div>
    </div>

    <br>
    <div class="row text-center bordered">
        <div class="col">
            <div class="card text-center">
              <div class="card-header navbar-dark">
                <h5>Minimum Time Spent</h5>
              </div>
              <div class="card-body">
                <small>Last</small><h5 id="min-time-first" class="card-title"></h5>
                <small>2nd Last</small><h5 id="min-time-second" class="card-title"></h5>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <h5>Maximum Time Spent</h5>
              </div>
              <div class="card-body">
                <small>Last</small><h5 id="max-time-first" class="card-title"></h5>
                <small>2nd Last</small><h5 id="max-time-second" class="card-title"></h5>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <h5>Average Time Spent</h5>
              </div>
              <div class="card-body">
                <small>Last</small><h5 id="avg-time-first" class="card-title"></h5>
                <small>2nd Last</small><h5 id="avg-time-second" class="card-title"></h5>
              </div>
            </div>
        </div>
    </div>
    <br>
    <hr>

    <div id="questions-bar-chart">
    <h5>Compare your last two attempts with following bar chart!</h5>
    <br>
    <canvas id="bar-canvas" class="chartjs" width="undefined" height="undefined"></canvas>
    </div>
    <hr>
    <div id="questions-first">
        {% for qid, question_html in question_paper_first %}
          <div class="questions" id="qid-first-{{qid}}">
              <small>Last Attempt</small>
              {{question_html|safe}}
          </div>
        {% endfor %}
    </div>
    <div id="questions-second">
        {% for qid, question_html in question_paper_second %}
          <div class="questions" id="qid-second-{{qid}}">
          <small>Second Last Attempt</small>
              {{question_html|safe}}
          </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <hr>

{% endblock content %}


{% block javascript %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script type="text/javascript">

function strip(html)
{
   var tmp = document.createElement("DIV");
   tmp.innerHTML = html;
   return tmp.textContent || tmp.innerText || "";
}

</script>
<script>

var qids = [];
qnumber = [];
num = 1;
var questions_htmls_first = [];
var question_statements = [];
var time_spent_first = [];
var question_marks_first = [];

var questions_htmls_second = [];
var time_spent_second = [];
var question_marks_second = [];

var last_clicked_qid = "null";

{% for stmt in question_statements %}
    question_statements.push(`{{stmt|safe}}`);
{% endfor %}

//////////////////For the First attempt //////////////////////
{% for qid, question_html in question_paper_first %}
          qids.push(`{{qid}}`);
          qnumber.push(num);
          num = num+1;
{% endfor %}

{% for time in time_spent_first %}
    time_spent_first.push({{time}});
{% endfor %}


var total_time = 0;
for (i=0; i<time_spent_first.length; i++){
    total_time += time_spent_first[i];
}
avg_time_first = total_time/time_spent_first.length;
//time_spent_clone = time_spent.slice();

{% for marks in question_marks_first %}
    question_marks_first.push({{marks}});
{% endfor %}

/////////////////////////////////////////////////////////////////////

//////////////////For the second attempt //////////////////////

{% for time in time_spent_second %}
    time_spent_second.push({{time}});
{% endfor %}

$('#min-time-first').html( Math.min(...time_spent_first));
$('#max-time-first').html( Math.max(...time_spent_first));

$('#min-time-second').html(Math.min(...time_spent_second));
$('#max-time-second').html(Math.max(...time_spent_second));

var total_time = 0;
for (i=0; i<time_spent_second.length; i++){
    total_time += time_spent_second[i];
}
avg_time_second = total_time/time_spent_second.length;
$('#avg-time-first').html(avg_time_first);
$('#avg-time-second').html(avg_time_second);


//time_spent_clone = time_spent.slice();


{% for marks in question_marks_second %}
    question_marks_second.push({{marks}});
{% endfor %}

/////////////////////////////////////////////////////////////////////


var doughnut_chart_canvas = document.getElementById("doughnut-chart-canvas");
var doughnut_chart_ctx = doughnut_chart_canvas.getContext("2d");


var color = [
    'lightgreen',    // color for data at index 0
    'pink',   // color for data at index 1
    'grey',  // color for data at index 2
    ];

var data = {
    datasets: [{
        data: [{{attempt_details_first.correct}}, {{attempt_details_first.incorrect}}, {{attempt_details_first.unanswered}}]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Correct',
        'Incorrect',
        'Unanswered',
    ],
    backgroundColor:color
};



options = {};
var doughnut_chart = new Chart(doughnut_chart_ctx, {
    type:"doughnut",
    data:{
        
        datasets:[
            {   label: "Last Attempt",
                labels:["Correct","Incorrect","Unanswered"],
                data:[{{attempt_details_first.correct}},{{attempt_details_first.incorrect}},{{attempt_details_first.unanswered}}],
                backgroundColor:["lightgreen","pink","grey"]
            },
            {   label: "2nd Last Attempt",
                labels:["Correct","Incorrect","Unanswered"],
                data:[{{attempt_details_second.correct}},{{attempt_details_second.incorrect}},{{attempt_details_second.unanswered}}],
                backgroundColor:["lightgreen","pink","grey"]
            }
            ]
        },
    options: {
        legend: {
                        position: 'top',
                    },
          title: {
                        display: true,
                        text: 'Correct, Incorrect, and Unanswered Question in Last Two Attempts'
                    },
      tooltips: {
        callbacks: {
            label: function(tooltipItem, data) {
            var dataset = data.datasets[tooltipItem.datasetIndex];
            var index = tooltipItem.index;
            return dataset.label + " " + dataset.labels[index] + ': ' + dataset.data[index];
          }
        }
      }
    }
    }
    );


var bar_chart_ctx = document.getElementById("bar-canvas").getContext("2d");
var x;

var bar_chart  =  new Chart(bar_chart_ctx,
    {
        type:"bar",
        data:
            {
                labels: qnumber,
                datasets:[
                    {label: "Last Attempt",
                        data: time_spent_first,
                        
                        backgroundColor: function(context) 
                            { 
                                marks = question_marks_first[context.dataIndex];
                                if (marks == "null"){
                                    return "grey";
                                }
                                if (marks > 0){
                                    return "lightgreen";
                                }
                                return "pink";
                            },

                        borderColor:["rgb(255, 99, 132)","rgb(255, 159, 64)"],
                        borderWidth:1
                    },
                    {
                        label: "Last Attempt",
                        data: time_spent_second,
                        
                        backgroundColor: function(context) 
                            { 
                                marks = question_marks_second[context.dataIndex];
                                if (marks == "null"){
                                    return "grey";
                                }
                                if (marks > 0){
                                    return "lightgreen";
                                }
                                return "pink";
                            },

                        borderColor:["rgb(255, 99, 132)","rgb(255, 159, 64)"],
                        borderWidth:1
                    }
                ]
            },
        options:
            {
                legends: {
                    position:'top',
                },
            title: {
                        display: true,
                        text: 'Time Spent vs Questions for Last Two Attempts'
                    },
            onClick: function(context, bar) {
                if (bar==null) return;
                console.log(bar);
                x=bar;
                var index = bar[0]._index;
                var id1="#qid-first-" + qids[index];
                var id2="#qid-second-" + qids[index];
                $(last_clicked_qid).hide();

                $(id1+','+id2).show();
                last_clicked_qid = id1+','+id2;
            },
            scales:
                {
                    yAxes: [
                    {
                        ticks:
                            {
                                beginAtZero:true
                            }
                    }
                    ]
                },
            tooltips: {
                 callbacks: {
                        label: function(tooltipItem) {
                            x=tooltipItem;
                            if (tooltipItem.datasetIndex == 0){
                                tooltipItem.label = "Last Attempt";
                                return "Question: " + $.trim(strip(question_statements[tooltipItem.index]));
                            }
                            else {
                                tooltipItem.label = "2nd Last Attempt";
                                return "Second Last Attempt\nQuestion: " + $.trim(strip(question_statements[tooltipItem.index]));
                            }
                        }
                    }
                }
            }
    }
    );


</script>
{% endblock javascript %}
