<div id='attempt_details'>
	<div class="table-responsive">
            <table class='table table-bordered table-striped table-highlight'>
            <tr>
            	<th>Total Grade Points</th><td>{{attempt_details.total_grade}}</td>
            </tr>
            <tr>
            	<th>Correct Answers</th><td>{{attempt_details.correct}}</td>
            </tr>
            <tr>
            	<th>Incorrect Answers</th><td>{{attempt_details.incorrect}}</td>
            </tr>
             <tr>
            	<th>Unattempted Questions</th><td>{{attempt_details.unanswered}}</td>
            </tr>
            </table>
     </div>
</div>