{% extends 'student_base.html' %}
{% load markdown_deux_tags %}
{% load static %}

{% block content %}
    <div>
        <p><h3>Some error has occurred!</h3>
        <br/>
        <h5>It might be because your session is invalid or you tried to refresh the IFrame.
            Click the launch button from the LMS for the quiz to try again. <br/>
            If the issue persists, please contact the admin. <hr> If you are the admin, then check the error logs!
        </h5>
        </p>
    </div>
{% endblock content %}