{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load static %}

{% block content %}

{% if message %}
{% if success %} <div class="alert alert-info fade in">
{% else %} <div class="alert alert-warning fade in"> {% endif %}
<a href="#" class="close" >&times;</a>
{{ message|safe }}
</div>
{% endif %}


{% if not attempts %}
<div class='message'>
	<h4>Students have not attempted the quiz yet! Return later!!</h4>
</div>
{% else %}
<div class='heading'>
	<span>The attempts details are shown below. You can view the responses' details by clicking <bold>View Response</bold> button.</span>
</div>
<div class="table-responsive">
	<table class='table table-bordered table-striped table-highlight'>
		<thead>
			<tr>
				<td>S.No.</td>
				<td>Student</td>
				<td>Attempt Submission Time</td>
				<td>Duration of Attempt</td>
				<td>Grades</td>
				<td>View Response</td>
				{% if download_allowed %}
				<td>Download PDF</td>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for attempt in attempts %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{attempt.student}}</td>
				<td>{{attempt.submission_time}}</td>
				<td>{{attempt.duration}}</td>
				<td>{{attempt.grade}}</td>
				<td><button onClick='show_attempt({{attempt.id}})' class='btn btn-info'>View Response</button></td>
				{% if view_download_allowed %}
				<td><button onClick='download_attempt({{attempt.id}})' class='btn btn-info'>Download Response</button></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

<hr/>
<div id='response-view'>

</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
	var show_attempt = function(attempt_id) {
        //Function to show the details of an attempt
        //Assuming jQuery is loaded
        data  = {attempt_id : attempt_id };
        var div = $('#response-view');
        $.ajax({
        	type: "POST",
        	url: "attempt_details",
        	data: data,
        	success: function(response) {
        		div.html(response.content);
        	},
        	error: function(){
            //Store the current serialized data for the form in the postponedRequest object
            div.innerHTML = "<h4 class='message'>Some error has occured connecting to server! Please try again...</h4>";
        }
    });
    }
</script>

{% endblock %}