{% extends 'student_base.html' %}
{% load markdown_deux_tags %}
{% load static %}


{% block head_ext %}
<script type="text/javascript">
/**
* Here we load the important variables directly to JS env.
**/
var timerStartedInterval = false;
{% if time_left %}
var time_left = {{time_left}};
var countDownTime = Date.now() + time_left;
//set timeout of ten seconds, start the timer regardless of anything
setTimeout(10000, function() {
    var timerStartedInterval = setInterval(timer_update, 1000);
});
{% else %}
var time_left = false;
{% endif %}

var question_ids = [];  // stores the question ids of the question.
var question_types = {}; // stores the question types for each question [corresponds to question_ids]

{% for qid, question_type in question_types %}
question_types[{{qid}}] = '{{question_type}}';
question_ids.push({{qid}});
{% endfor %}

{% if answered_question_ids %}
var answered_question_ids = {{answered_question_ids}};
{% else %}
var answered_question_ids = [];
{% endif %}

</script>
{% endblock head_ext %}

{% block content %}

<div id="lock"></div>
<div id='offline' style='display:none' class="alert alert-info animated bounce">
    <h5><strong>Caution:</strong> You are offline now. Your progress cannot be saved!!</h5>
</div>

    <div class="text-center" align="center">
        {% if information %}
        <button id='information_modal_button' type="button" class="btn btn-default" data-toggle="modal" data-target="#information">Information
        </button>
        {% endif %}
        {% if question_statements %}
        <button id='question_paper_modal_button' type="button" class="btn btn-default" data-toggle="modal" data-target="#question-paper">Question Paper
        </button>
        {% endif %}
        <button id= 'summary-modal-button' type="button" class="btn btn-info" data-toggle="modal" data-target="#summary">Summary</button>
    </div>

    {% if time_left %}
    <div id="div-timer" class="heading">
        <button class="btn  btn-default btn-rounded" id="timer">Time Left: <span id="timer-time"></span></button>
    </div>
    {% endif %}

    <div class="bottom-question-navigator">
        <input class="custom-range" value=1 min=1 max={{questions_html|length}} type="range" id="questions-slider-nav"/>
        <span class="thumb"></span>
    </div>

    {% for qid, question in questions_html %}
    <div id='div-question-{{qid}}' class='question hidden-question'>
        <form id='form-question-{{qid}}' class="form-horizontal" method="POST" class="post-form">
            {{question|safe}}
        </form>

        <button id='save-and-next-button' onClick="save_and_next({{qid}})" class="btn btn-info">Save and Next</button>
        <button id='mark-for-review-button' onClick="mark_for_review_and_next('{{qid}}')" class="btn btn-dark">Mark For
            Review &amp; Next
        </button>
        <button id='clear-response-button' onClick="clear_response('{{qid}}')" class="btn btn-dark">Clear Response
        </button>
        <hr/>
    </div>
    {% endfor %}

    <div id="div-submit" class="submit-button" >
        <button id="submit-button-inside" class="btn btn-primary" onClick='submit()'>Submit</button>
    </div>

    {% if question_statements %}
         <div id="question-paper" class="modal fade top" role="dialog" aria-labelledby="question-paper-label" >
        <div class="modal-dialog  modal-full-height modal-top">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title w-100" id="question-paper-label"  class="modal-title">Information</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table>
                        {% for qid, question_statement in question_statements %}
                        <div onclick='jumpToQuestion({{qid}})' data-dismiss="modal"
                             class="statement question_statement_in_paper">
                            <li><span>{{question_statement | safe}}</span></li>
                        </div>
                        {% endfor %}
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if information %}
     <div id="information" class="modal fade left" role="dialog" aria-labelledby="information-label" >
        <div class="modal-dialog  modal-full-height modal-left">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title w-100" id="information-label"  class="modal-title">Information</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{information | markdown}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div id="summary" class="modal fade right" role="dialog" aria-labelledby="information-label" >
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Summary</h5>
                        <div class="card-text" id='palette-buttons-grid-summary'>
                            <div class='question-button-grid-item'>
                                <div class='div-question-button'>
                                    <button onClick="show_questions_in_palette('answered')" id='button-number-answered'
                                    class='question-button  btn-success answered'>0
                                </button>
                                <div class='question-button-heading'>Answered</div>
                            </div>
                        </div>

                        <div class='question-button-grid-item'>
                            <div class='div-question-button'>
                                <button id='button-number-unvisited' onClick="show_questions_in_palette('unvisited')"
                                class='question-button btn-blue-grey unvisited'>0</button>
                                <div class='question-button-heading'>Unvisited</div>
                            </div>
                        </div>
                        <div class='question-button-grid-item'>
                            <div class='div-question-button'>
                                <button id='button-number-not-answered' onClick="show_questions_in_palette('not-answered')"
                                class='question-button btn-danger not-answered'>0</button>
                                <div class='question-button-heading'>Not Answered</div>
                            </div>
                        </div>
                        <div class='question-button-grid-item'>
                            <div class='div-question-button'>
                                <button id='button-number-marked' onClick="show_questions_in_palette('marked')"
                                class='question-button btn-info marked'>0
                            </button>
                            <div class='question-button-heading'>Marked for Review</div>
                        </div>
                    </div>
                </div>
                <div id="palette-back-button">
                    <button class='btn btn-info'
                    style="width:100%;"
                    onClick="show_all_questions_in_palette()">Back</button>
                </div>
            </div>
        </div>

        <div id="div-question-palette" class="card text-center">
            <div class="card-body">
                <div id='div-question-buttons-header' class="card-title">Navigate Questions</div>
                <div id='question-buttons-grid' class="card-text">
                    {% for qid in question_ids %}
                    <div class='question-button-grid-item'>
                        <button id='id-question-button-{{qid}}' class='question-button btn-blue-grey unvisited'
                        onclick='jumpToQuestion({{qid}})'>{{forloop.counter}}
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

<div class="modal-footer"  align="center">
    <button type="button"  align="center" class="btn btn-mdb-color" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

    {% endblock content %}

    {% block sidebar_right %}
    {% endblock sidebar_right %}

    {% block javascript %}
    <script>
    //Create few global variables 
    var current_question_index = 0;
    var postponedRequest = {};
    var response_timing = {};
    //The css classes available for styling the question buttons
    var exclusiveQuestionButtonState = ['unvisited', 'not-answered', 'answered', 'marked'];
    var submitted = false;
    initialize_quiz();
    if (!timerStartedInterval){
    //If timer is not started for some reason, then start now!
    if (time_left)
    	var timerStartedInterval = setInterval(timer_update, 1000);
    }
    </script>
    {% endblock javascript %}