{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load static %}

{%block head %}
{{ form.media }}
<link rel='stylesheet' href="{% static 'pagedown/simple.css' %}" >
{% endblock head %}

{% block content %}
<div>
    <hr>
    <h2>iQuiz Settings</h2>
    <div class=''>
        <form class="form-horizontal" method="POST" class="post-form"> {% csrf_token %}
            <div class="table-responsive">
                <table class='table table-bordered table-striped table-highlight'>
                    {{ form }}
                </table>
            </div>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
</div>


{% endblock content %}