{% load markdown_deux_tags %}
{% load static %}
<script>
//loader for css
if (!$('head #responded-question-paper-css')[0])
	$('head').append(`<link id="responded-question-paper-css" rel="stylesheet" type="text/css" href="{% static 'css/responded-question-paper.css' %}">`);
</script>
{% block content %}
    {% if message %}
        {% if success %} <div class="alert alert-info fade in">
        {% else %} <div class="alert alert-warning fade in"> {% endif %}
            <a href="#" class="close" >&times;</a>
            {{ message|safe }}
            </div>
    {% endif %}

	<hr/>
	<div id="response-info" class="table-responsive">
	<table class='table table-bordered table-striped table-highlight'>
	    <tbody>
		    <tr>
		        <th>Total Question</th>
		        <td>{{attempt_details.total_questions}}</td>
		    </tr>
			{% if attempt_details.showAnswer %}
				<tr>
					<th>Correct Answers</th>
					<td>{{attempt_details.correct}}</td>
				</tr>
				<tr>
					<th>Incorrect Answers</th>
					<td>{{attempt_details.incorrect}}</td>
				</tr>
			{% endif %}
	         <tr>
	            <th>Unattempted Questions</th>
	            <td>{{attempt_details.unanswered}}</td>
	        </tr>
		    <tr>
		        <th>Allowed Time</th>
		        <td>{{attempt_details.allowed_time}}</td>
		    </tr>
		    <tr>
		        <th>Attempt Start Time</th>
		        <td>{{attempt_details.start_time}} (UTC)</td>
		    </tr>
		    <tr>
		        <th>Attempt Duration</th>
		        <td>{{attempt_details.duration}}</td>
		    </tr>

		    <tr>
		        <th>Total Grade</th>
		        <td>{{attempt_details.total_grade_percent}}</td>
		    </tr>
	    </tbody>
	</table>
	</div>

     <div id="question-paper">

        {% for qid, question_html in question_paper %}

          <div class="responded-question">
			  <span style="display:inline-block">{{forloop.counter}}</span>
              {{question_html|safe}}
          </div>
        {% endfor %}

		{% if prompts %}
		  <h3>Prompts</h3>
		{% endif %}

		{% for prompt in prompts %}
		<div class="responded-question">
			
			<span style="display:inline-block">{{forloop.counter}}</span>
			<p>{{prompt.prompt.question}}</p>
			<input style="width: 100%; margin-bottom: 20px;" disabled value="{{prompt.prompt_response|safe}}" >
			</input>
		</div>
		{% endfor %}

    </div>

{% endblock content %}


